### Eclipse ###

.metadata/
target/

bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Code Recommenders
.recommenders/

# Log file
*.log

.project
.idea
